@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import "tailwindcss";

@theme {
  --font-cinzel: 'Cinzel', serif;
  --font-agency: 'Agency FB', sans-serif;
}

@font-face {
  font-family: 'Agency FB';
  src: url('/fonts/AgencyFB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
}